<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZJSlider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B156D6E21F1CBB2C00D6AFDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B156D6FB1F1CBB2D00D6AFDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B156D7061F1CBB2D00D6AFDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
